@model Project_Management.Models.ViewModels.ProjectLicense
@{
    ViewData["Title"] = "ProjectDetails";
    Layout = "~/Views/Shared/_LayoutafterLogin.cshtml";
}
<script src="@Url.Content("~/js/particles.js")"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #121423;
    }


    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }


</style>
<div id="particles-js">
</div>
<div class="d-flex justify-content-center min-vh-50">
    <div class="card bg-light mb-3" style="width:50rem; margin-top:50px;">
        <div class="card-header" style="text-align:center;">Project Details</div>
        <div class="card-body" align="center" style="background-color:#e2642b;">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.project.Project_Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.project.Project_Id)
                </dd>
                <hr />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.project.Project_name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.project.Project_name)
                </dd>
                <hr />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.project.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.project.Description)
                </dd>
                <hr />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.project.Start_Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.project.Start_Date)
                </dd>
                <hr />
                @if (Model.license == null)
                {
                   <p style="text-align:center; color:white;">License details not yet added for this project</p>
                }
                else {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.license.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.license.Name)
                </dd>
                <hr />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.license.Expiry_Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.license.Expiry_Date)
                </dd>
                }
            </dl>
            <div>
                <a asp-action="GetPorject" class="btn btn-dark">Back</a>
            </div>
        </div>
    </div>
</div>
<script>

    //document.addEventListener("DOMContentLoaded", function () {
    // particlesJS initialization here...
    particlesJS('particles-js', {
        particles: {
            number: {
                value: 80
            },
            color: {
                value: '#ffffff'
            },
            size: {
                value: 3
            }
        },
        interactivity: {
            events: {
                onhover: {
                    enable: true,
                    mode: 'grab'
                }
            }
        }
    });

        //});

</script>